<h2><%=h@asset_company.company_name%></h2>
<ul>
  <li>Contact: <%=h@asset_company.contact_name%></li>
  <li>Phone: <%=h@asset_company.phone%></li>
  <li>Fax: <%=h@asset_company.fax%></li>
  <li>Email: <%=h@asset_company.email%></li>
  <li>Address:</li>
  <%=h@asset_company.address1%>, <%=h@asset_company.address2%>,
  <%=h@asset_company.address_city%>, <%=h@asset_company.address_state%>  <%=h@asset_company.address_zip%>
</ul>
